/local.properties
/app/app.iml
/.idea/libraries/zxing_1_8_4.xml
/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
/.gradle/2.14.1/taskArtifacts/cache.properties.lock
/.gradle/2.14.1/taskArtifacts/fileHashes.bin
/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
/.idea/libraries/support_core_ui_24_2_0.xml
/.idea/libraries/support_core_utils_24_2_0.xml
/.idea/libraries/support_fragment_24_2_0.xml
/.idea/libraries/support_media_compat_24_2_0.xml
/.idea/libraries/support_v4_24_2_0.xml
/.idea/libraries/support_vector_drawable_24_2_0.xml
/.idea/libraries/animated_vector_drawable_24_2_0.xml
/.idea/libraries/appcompat_v7_24_2_0.xml
/.idea/libraries/core_1_8_4.xml
/.idea/libraries/core_3_2_1.xml
/.idea/libraries/engine_io_client_0_3_1.xml
/.idea/libraries/hamcrest_core_1_3.xml
/.idea/libraries/Java_WebSocket_1_3_0.xml
/.idea/libraries/junit_4_12.xml
/.idea/libraries/multidex_1_0_0.xml
/.idea/libraries/socket_io_client_0_3_0.xml
/.idea/libraries/support_annotations_24_2_0.xml
/.idea/libraries/support_compat_24_2_0.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/workspace.xml
